.button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0 8px;
  border-radius: 8px;
  color: var(--white-text);
  background-color: var(--dark-gray);
  transition: all 0.25s;

  &:focus-visible {
    outline: 2px solid var(--color-outline);
    outline-offset: 2px;
  }

  &[data-variant='accent'] {
    color: var(--dark-text);
    background-color: var(--color-accent);
  }
  &[data-size='icon'] {
    padding: 0;
    width: 32px;
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--disabled-text);
    background-color: var(--disabled-bg);
  }
}
