.inputModifier {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  height: 36px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--input-outline);
  background-color: var(--input-bg);
  transition: border-color 0.2s;

  &:not(&:disabled) {
    &:hover,
    &:focus,
    &:focus-visible {
      border-color: var(--input-outline-hover);
    }
  }

  &:disabled {
    background-color: var(--input-outline);
  }
}
