.inputModifier {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  height: 36px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--input-border);
  background-color: var(--input-bg);
  transition: border-color 0.2s;

  &::placeholder {
    color: var(--border-hover);
    opacity: 0.7;
  }

  &:not(&:disabled) {
    &:hover,
    &:focus,
    &:focus-visible {
      border-color: var(--border-hover);
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--input-border);
  }
}
