.section {
  > p {
    margin-bottom: 8px;
  }
  &:not(:first-child) {
    margin-top: 16px;
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
  flex-wrap: wrap;

  p {
    opacity: 0.7;
    font-size: 0.8rem;
    min-width: 12px;
  }

  input {
    width: 60px;
    &:global(.full) {
      width: 100%;
    }
  }

  button {
    max-width: 40%;
  }
}
