@use '@/styles/components' as components;

.topbar {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  z-index: 1000;
  border-bottom: 1px solid var(--dark-border);
  @include components.dark;
}

.title {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.exportBtn {
  width: 150px;
}
