.layers {
  --lh: 40vh;
  height: var(--lh);
  h3 {
    line-height: 22px;
    margin: 24px 24px 16px;
  }
}

.content {
  overflow-y: auto;
  padding: 0 24px 0;
  height: calc(var(--lh) - 62px);
  &::-webkit-scrollbar {
    display: none;
  }
}

.list {
  cursor: pointer;
  padding: 16px;
  border-radius: 8px;
  background-color: #d6d6d6;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &[data-selected] {
    font-weight: bold;
    background-color: #cacaca;
  }
}
