.selectModifier {
  appearance: base-select;
  font-size: 14px;
  height: 36px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--input-outline);
  color: var(--white-text);
  background-color: var(--input-bg);
  transition: border-color 0.2s;

  &:hover,
  &:focus,
  &:focus-visible {
    border-color: #4a4f5a;
    outline: none;
  }
}
