.properties {
  border-top: 1px solid gray;

  h3 {
    margin: 24px 24px 16px;
  }
}

.content {
  overflow-y: auto;
  padding: 0 24px 24px;
}

.section:not(:first-child) {
  margin-top: 16px;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
  flex-wrap: wrap;

  p {
    min-width: 12px;
  }

  input {
    width: 60px;
    &.full {
      width: 100%;
    }
  }

  button {
    max-width: 40%;
  }
}
