.properties {
  --lh: calc(100vh - 50px);
  height: var(--lh);
  h3 {
    text-transform: uppercase;
    color: var(--white-title);
    line-height: 22px;
    margin: 0;
    padding: 16px 16px 24px;
    font-weight: 500;
  }
}

.content {
  overflow-y: auto;
  height: calc(var(--lh) - 63px);
  padding: 0 16px;

  > :last-child {
    margin-bottom: 16px;
  }
}
