:root {
  --darkBg: #202427;
  --text: #202427;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --color-outline: #3b82f6;
  --color-canvas-outline: #e5e5e7;
  --dark-border: rgb(57, 64, 70);
  --white-title: #dfdfdf;
  --white-text: #b1b1b1;
  font:
    16px system-ui,
    'Segoe UI',
    Roboto,
    sans-serif;
  letter-spacing: 0.18px;
  color: var(--text);
  background: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

body * {
  box-sizing: border-box;
}

p {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}
