.layer {
  cursor: pointer;
  display: grid;
  grid-template-columns: 20px auto 24px;
  align-items: center;
  gap: 8px;
  height: 36px;
  padding: 0 8px;
  border-radius: 8px;
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 8px;
  }

  &[data-selected] {
    background-color: var(--dark-gray);
  }

  &[data-hide] {
    opacity: 0.5;
  }
}

.buttonModifier {
  flex: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
