.layer {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  height: 36px;
  padding: 0 8px;
  border-radius: 8px;
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 8px;
  }

  &[data-selected] {
    background-color: var(--dark-gray);
  }
}

.buttonModifier {
  flex: none;
  width: 24px;
  height: 24px;
  color: #848484;
  background-color: transparent;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &[data-hide] {
    opacity: 0.5;
  }
}
